@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Oswald:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(speciallized\ wall.jpeg);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}

.logo {
  width: 150px;
  padding: 10px 0;
  cursor: pointer;
}

.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #f8f9fa;
}

.content h1 {
  font-size: 62px;
  font-weight: 600;
}

.content h1 span {
  color: #ffe066;
}

.content button {
  background: transparent;
  border: 2px solid #f8f9fa;
  text-decoration: none;
  outline: none;
  padding: 12px 25px;
  color: #f8f9fa;
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 20px;
}

.rocket {
  width: 250px;
  position: absolute;
  right: 10%;
  bottom: 0;
  animation: rocket 3s linear infinite;
}
@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }

  100% {
    bottom: 105%;
    opacity: 1;
  }
}

.lanch-time {
  display: flex;
}

.lanch-time div {
  flex-basis: 100px;
}

.lanch-time div p {
  font-size: 60px;
  margin-bottom: -14px;
}

/* footer {
  margin-bottom: 48px;
  font-size: 14px;
  text-align: center;
  color: #495057;
} */

footer {
  position: fixed;
  color: #080808;
  bottom: 0;
  width: 90%;
  height: 40px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  .content {
    text-align: center;
    padding-left: 10%;
  }

  .content h1 {
    font-size: 36px;
    font-weight: 600;
  }

  .under-maintenace {
    font-size: 14px;
  }

  .content button {
    font-size: 14px;
    display: inline-block;
    width: 200px;
  }

  #days,
  #hours,
  #minutes,
  #seconds {
    font-size: 36px;
  }

  .days,
  .hours,
  .minutes,
  .seconds {
    font-size: 14px;
  }

  .logo {
    width: 150px;
    padding: 0;
  }

  footer {
    font-size: 12px;
    padding-right: 36px;
  }
}
